* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 30px 0px;
    max-width: 85vw;
    margin: 0 auto;
}

#title2 { display: none; }

#pj6 { display: none;}

aside { display: none;}

#title1, #title2 {
    font-size: 3.5em;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: blue;
}

img {
    display: none;
}

article {
    margin-bottom: 40px;
}

h1 {
    line-height: 1em;
    margin-bottom: 100px;
}

h2 {
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: 400;
}

h3 {
    margin: 20px 0px;
    font-size: 1.5em;
    font-weight: 400;
}

footer p {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: 400;
}

#mail {
    margin: 60px 0px;
    font-size: 1.15em;
}

#rodape {
    font-size: 1em;
    text-align: center;
}

main p {
    margin: 20px 0px;
}

@media only screen and (min-width: 600px) {
    main {
        display: flex;
        flex-flow: row wrap;
    }

    body {
        padding: 160px 0px;
    }

    #title1 { display: none;}

    #title2 { 
        display: inline;
        font-size: 4em;
        font-weight: 500;
    }
}